@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree-Italic';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree-ExtraBold';
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree-SemiBold';
  src: url('./assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.card {
  padding: 1.2rem 1.2rem 0 1.2rem;
  border-radius: 15px;
  border-color: black;
  box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 1);
}

.card-img {
  border-radius: 10px;
}

.card-body {
  padding-top: 1.4rem;
}

.card-label {
  font-family: 'Figtree-ExtraBold', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: hsl(0, 0%, 7%);
  background-color: hsl(47, 88%, 63%);
  border: none;
  border-radius: 3px;
  padding: 0.2rem 0.6rem;
}

.pub-date {
  font-family: 'Figtreec', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(0, 0%, 7%);
  padding-top: 0.5rem;
}

 .card-title {
  font-family: 'Figtree-ExtraBold', sans-serif;
  font-weight: bold;
  padding-bottom: 0.6rem;
 }

 .card-text {
  font-family: 'Figtree', sans-serif;
  font-size: 14px;
  padding-bottom: 0.5rem;
  color: hsl(0, 0%, 42%);
 }

 .author-info {
  display: flex;
 }

 .author-logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
 }

 .author-name {
  font-family: 'Figtree-ExtraBold', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: hsl(0, 0%, 7%);
  border: none;
  line-height: 30px;
}